extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        h1= projects.project_name

        p= projects.description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in projects.technologies
            li= technology

        a.btn-link(href=`${projects.live_link}`) Live Demo
        a.btn-link(href=`${projects.github_link}`) GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      img.project-img(src='https://placehold.it/1200x550', alt='')
      img.project-img(src='https://placehold.it/1200x550', alt='')
      img.project-img(src='https://placehold.it/1200x550', alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
